<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
        <meta charset="UTF-8">
        <title>Forgot Password</title>

    <link rel="stylesheet" href="/css/style.css}">
    <link rel="stylesheet" href="/customstyle.css">
   <style>
       .mainbody{
        margin: auto;
        background-color: rgb(136, 136, 136);
        text-align: center;
        padding: 10%;

       }


   </style>

</head>
<body>
    

    <div class="mainbody">

        <div>
            <h2>Forgot Password</h2>
        </div>
        
        <form th:action="@{/forgotpassword}" th:object="${validateForm}" method="post" style="max-width: 420px; margin: 0 auto;">
                <div>
                    <p>Enter your information</p>
                </div>
                <div>
                    <p>
                        <input type="text" th:field="*{userId}"  name="userId" id="userId" class="form-control" placeholder="Enter your User Id:" required autofocus/>
                    </p>
                    <p>
                        <input type="text" th:field="*{petName}"  name="petName" id="petName" class="form-control" placeholder="What's your pet's name?:" required autofocus/>
                    </p>
                    <p class="text-center">
                        <button type="Validate" id="validate" class="btn btn-info col-2">Validate</button>
                    <div id="error"> <span th:text="${error}"></span></div>

                    </p>
                </div>
        
        </form>
        <br> <hr> <br>

        <div class="second" th:if="${param.validate}">
        <form th:action="@{/resetpassword}" method="post" style="max-width: 420px; margin: 0 auto;">
            <div>
                <p>Enter your information</p>
            </div>
            <div>
                <span>
                    <label for="password">Password</label>
                    <input type="password" th:name="password" id="password" class="form-control" required autofocus/>
                    <br>
                </span>
                <span>
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" th:name="confirmPassword" id="confirmPassword" class="form-control"  required autofocus/>
                </span>
                <p class="text-center">
                    <button id="reset" class="btn btn-info col-2">Reset</button>
        
                </p>
            </div>
        
        </form>
        
    </div>

    </div>


</body>

</html>