<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet" th:href="@{/css/customstyle.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/javascript/jquery.js}"></script>
    <script th:src="@{/javascript/myJquery.js}"></script>


    <style>
        .register > input {
               display : flex;
               justify-content: flex-end;

        }
    </style>


</head>
<body>
<div class="container my-2">
    <h1>Registration</h1>
    <hr>

    <form id="registerForm" th:action="@{/register}" th:object="${registerForm}" method="POST">

        <div class="register">

            <label for="userId">User Id:</label>
            <input type="text"  th:field="*{userId}" required name="userId" id="userId" class="form-control mb-4 col-4" float-right>


            <label for="password">Password:</label>
            <input type="text" th:field="*{password}" required name="password" id="password" class="form-control mb-4 col-4">

            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" required  name="name" id="name"  class="form-control mb-4 col-4">

            <label for="petName">Pet name:</label>
            <input type="text" th:field="*{petName}" required name="petName" id="petName" class="form-control mb-4 col-4">

            <label for="age">Age:</label>
                <input type="text" th:field="*{age}" required name="age"  id="age" class="form-control mb-4 col-4">

            <label for="gender">Gender:</label>
            <select required name="gender" th:field="*{gender}" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <br>

            <label for="department">Department:</label>
            <select name="department" th:field="*{department}" id="department">
                <option value="Computer Science">Computer Science</option>
                <option value="Information and Technology">Information and Technology</option>
            </select>
            <br>

            <label for="semester">Semester:</label>
            <select name="semester"  th:field="*{semester}" id="semester">
                <option value="Semester-01">Semester-01</option>
                <option value="Semester-02">Semester-02</option>
                <option value="Semester-03">Semester-03</option>
            </select>
            <br>

        </div>
        <button id="register" class="btn btn-info col-2">Register</button>


    </form>
    <hr>

    <div id="error"><span th:text="${errorMessage}"></span></div>

</div>
</body>
</html>