<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Student List</title>

    <link rel="stylesheet" href="/css/customstyle.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="container my-2">
    <h1>Students</h1>

    <div class="sidemenu">

        <a th:href="@{/home}">Home</a><br><hr>
        <a th:href="@{/coursesearch}">Course Search</a><br><hr>

        <a sec:authorize =hasRole('ADMIN')> th:href="@{studentlist}">Student list</a><br><hr>

        <a th:href="@{/login}">Logout</a><br>
    </div>
    <div class="main">
    <table border="1" class="table table-striped table-responsive-md">
        <div class="main">
            <thead>
            <tr>
                <th>Name</th>
                <th>Pet Name</th>
                <th>Age</th>
            </tr>
        <tbody>
        </tbody>

        <tr th:each="userMain, loop : ${studentsList}">
            <td th:id="userName+(${loop.index}) + 1)" th:text="${userMain.name}"></td>
            <td th:id="department+(${loop.index}) + 1)"th:text="${userMain.department}"></td>
            <td th:id="semester+(${loop.index}) + 1)"th:text="${userMain.semester}"></td>
            <td> <a th:href="@{delete/{id}(id=${userMain.id})}"><input id="delete" type="button" value="Delete" class="btn btn-primary btn-sm mb-3"></a></td>
            <td>
            </td>
        </tr>

        </div>

    </table>
</div>
</div>
</body>
</html>